{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}
    shop detail
{% endblock %}

{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>{{ object.title }}</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'home:index' %}">Home</a>
                            <a href="./index.html">{{ object.category }}</a>
                            <span>{{ object.title }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                            {% thumbnail object.images.first.image "540x560" crop='center' as im %}
                                <img src="{{ im.url }}" alt="">
                            {% endthumbnail %}
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            {% for image in object.images.all %}
                                {% thumbnail image.image "120x120" as im %}
                                    <img data-imgbigurl="{{ image.image.url }}"
                                         src="{{ im.url }}" alt="">
                                {% endthumbnail %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ object.title }}</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                            {#                            <span>(18 reviews)</span>#}
                        </div>
                        <div class="product__details__price">{{ object.price }}T</div>
                        <p>{{ object.short_description }}</p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" id="product-count" min="1" max="{{ object.stock }}" value="1">
                                </div>
                            </div>
                        </div>
                        <button onclick="addProductToOrder({{ object.id }})" class="primary-btn">ADD TO CARD</button>
{#                        <a href="#" class="primary-btn">ADD TO CARD</a>#}
{#                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>#}
                        <ul>
                            <li><b>Availability</b> <span>{{ object.stock }} In Stock</span></li>
                            <li><b>Size</b> <span>{{ object.size }}</span></li>
                            <li><b>Weight</b> <span>{{ object.weight }} g</span></li>
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                   aria-selected="true">Description</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>{{ object.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for article in recommended_articles %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg"
                                 {% thumbnail article.images.first.image "270x270" as im %}
                                 data-setbg="{{ im.url }}">
                                {% endthumbnail %}
                            </div>
                            <div class="product__item__text">
                                <h6><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h6>
                                <h5>{{ article.price }}T</h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}


            </div>
        </div>
    </section>
    <!-- Related Product Section End -->

{% endblock %}