{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% load thumbnail %}
{% load static %}
{% block title %}
    list
{% endblock %}
{% block content %}

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Blog</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Blog</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog spad">
        <div class="container">
            <div class="row">
                {% render_partial 'blog_module.views.blog_sidebar_component' %}
                <div class="col-lg-8 col-md-7">
                    <div class="row">
                        {% if object_list %}
                            {% for object in object_list %}
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="blog__item">
                                        <div class="blog__item__pic">
                                            {% thumbnail object.image "290x208" crop='center' as im %}
                                                <img src="{{ im.url }}" alt="">
                                            {% endthumbnail %}
                                        </div>
                                        <div class="blog__item__text">
                                            <ul>
                                                <li><i class="fa fa-calendar-o"></i>{{ object.created_at.date }}</li>
{#                                                <li><i class="fa fa-comment-o"></i> 5</li>#}
                                            </ul>
                                            <h5><a href="#">{{ object.title }}</a></h5>
                                            <p>{{ object.short_description }}</p>
                                            <a href="{{ object.get_absolute_url }}" class="blog__btn">READ MORE <span
                                                    class="arrow_right"></span></a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="col-lg-12">
                            <div class="product__pagination blog__pagination">

                                {% if page_obj.has_previous %}
                                    <a href="?page=1" class="fa fa-long-arrow-left"</a>
                                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fa arrow_carrot-left"></i></a>
                                {% endif %}
                                <a href="#">{{ page_obj.number }}</a>
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}"><i class="fa arrow_carrot-right"></i></a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" class="fa fa-long-arrow-right"></a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Section End -->
{% endblock %}